Package: com.milodarling.actisound
Name: ActiSound
Architecture: iphoneos-arm
Author: Milo Darling <milodarling98@gmail.com>
Depiction: http://rcrepo.com/depictions/?dep=com.milodarling.actisound
Priority: extra
Section: Tweaks
Description: An activator action to play a sound file.
Depends: mobilesubstrate, libactivator
Homepage: http://reddit.com/r/rcrepo
Maintainer: TheMacMini09 <themacmini09@gmail.com>
Version: 1.0-2
Installed-Size: 500
